body {
    overflow: hidden;
    user-select: none;
  
    /* stuff that sass won't compile to */
    -webkit-touch-callout: none;
    -khtml-user-select: none;
  }
  
  canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
  